.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    /* width: 300px; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .popup{
        height: '15rem';
        width: '25rem'
    }
}

@media screen and (max-width: 425px){
    .popup{
        height: '10rem';
        width: '20rem'
    }
}

@media screen and (max-width: 375px){
    .popup{
        height: '8rem';
        width: '15rem'
    }
}
input{
    border: none;
}

input:focus {
    outline: none;
    border: none;
}

input[type='checkbox']:checked {
    background-color: rgb(244, 76, 104);
}

  