.spinner {
    border: 4px solid rgb(244, 237, 237);
    border-radius: 50%;
    border-top: 4px solid rgb(244, 76, 104);
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  